* {
    padding: 0;
    margin: 0;
    font-family: "Oswald";
}

body {
    background-color: #89BDBB;
    min-height: 100vh;
}

/* LOGIN PAGE */
.background-login {
    background-color: #89BDBB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.img-login {
    padding: 40px;
    padding-left: 50px;
}

.login-container {
    
    background-color: #112D31;
    display: flex;
    border-radius: 20px;
}

.login-form {
    padding: 32px;
    padding-top: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.login-text {
    color: white;
    text-align: center;
    font-size: 30px;
}

.login-button {
    border-radius: 10px;
    font-size: 20px;
    color: white;
    transition: .2s linear;
    background: #89BDBB;
    padding: 20px 100px 20px 100px;
}

.login-button:hover {
    box-shadow: 0 0 0 5px white, 0 0 0 5px #333333;
}

.input-login {
    width: 273px;
    height: 40px;
    font-size: 15px;
    text-align: center;
}

/* CREATE PAGE */

.left-window {
    width: 394px;
    position: fixed;
    height: 100%;
    background-color: #112D31;
}

.logo-left-window {
    align-self: center;
    padding-top: 44px;
    padding-bottom: 42px;
}

.left-window-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.nav-btn {
    border: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    width:60%;
    border-radius: 10px;
    align-self: center;
    transition: .2s linear;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-btn:hover {
    box-shadow: 0 0 0 3px white, 0 0 0 5px #333333;
}

.active-link-nav {
    border: 3px solid white;
}

.nav-profile {
    margin-bottom: 60px;
    margin-top: 40px;
}

.nav-link-profile {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 25px;
}

.right-window {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.right-container {
    background-color: #112D31;
    width: 1000px;
    border-radius: 30px;
    align-self: center;
}

.new_doc_title {
    margin-top: 80px;
    font-size: 60px;
    text-align: center;
    height: 190px;
    width: 1100px;
}

.new_doc_title > p {
    font-size: 60px;
    text-align: center;
    margin-top: 45px;
    color: white;
}

.name-file-div {
    display: flex;
    height: 90px;
    margin-top: 50px;
}

.name_offile_create {
    text-align: center;
    width: 60%;
    color: white;
    font-size: 25px;
    padding-top: 24px;
}

.file_name_create {
    width: 40%;
    text-align: center;
}

.input {
    color: #112D31;
    cursor: auto;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    margin-top: 1rem;
    background-color: white;
}

.input-name-file {
    width: 351px;
    height: 55px;
    font-size: 20px;
}

.select-file-create {
    width: 261px;
    font-size: 100%;
    margin-top: 0.5rem;
}

.send_file {
    margin-top: 40px;
    width: 1000px;
    text-align: center;
}

.send_file > button {
    height: 58px;
    border: 1px solid white;
    font-size: 20px;
    width: 30%;
    border-radius: 10px;
    transition: .2s linear;
    color: #112D31;
}

.send_file > button:hover {
    box-shadow: 0 0 0 7px white, 0 0 0 5px #333333;
}


/* DOKLADS PAGE */

.doklad-titles {
    display: flex;
    min-height: 61px;
    margin-top: 40px;
    border-radius: 0px;
}

.col-doklad {
    text-align: center;
    margin-top: 0.5rem;
    color: white;
    font-size: 25px;
}

.code-col, .date-col {
    width: 12%;
}

.send-col {
    width: 30%;
}

.name-col {
    width: 46%;
    text-align: left;
    padding-left: 10px;
}

.link-doklad {
    text-decoration: none;
    display: flex;
    width: 100%;
}


/* HELP PAGE */

.help-text {
    font-size: 22px;
    color: white;
}


/* USER PAGE */

.user-doc {
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 9px;
}

.user-info-cont {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-user {
    font-size: 50px;
    margin-left: 40px;
    color: white;
}

.exit-profile {
    font-size: 20px;
    margin-left: 40px;
    color: white;
    margin-top: 20px;
}

.first-one {
    font-size: 90px;
    color: white;
}

.second-one {
    font-size: 20px;
    color: white;
}


.btn-col {
    width: 30%;
    text-align: center;
}

.delete-btn {
    width: 179px;
    height: 51px;
    font-size: 22px;
    margin-top: 0.3rem;
    color: #112D31;
}

.reset-btn {
    width: 179px;
    height: 51px;
    font-size: 22px;
    margin-top: 0.3rem;
    color: #112D31;
}