{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Создание документа</title>
        <meta property="og:title" content="Webbed Luminous Jaguar" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <meta property="twitter:card" content="summary_large_image" />
        <link rel="stylesheet" href="{% static 'main/css/new_style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Condensed:wght@500&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    </head>
    <body style="display: flex;">
        <div>
            <div class="left-window">
                <nav class="left-window-nav">
                    <div class="nav-btn nav-profile">
                        <div>
                            <a href="/user/" class="nav-link-profile">
                            {{ request.user.username }}
                            </a>
                        </div>
                    </div>
                    <img src="{% static 'main/images/logo.png' %}" alt="logo" class="logo-left-window" width="200px" height="200px">
                    <div class="nav-btn">
                        <a href="/orders/" class="nav-link">Приказы</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/service_notes/" class="nav-link">Служебные записки</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/instructions/" class="nav-link">Инструкции</a>
                    </div>
                    <div class="nav-btn active-link-nav">
                        <a href="/new/" class="nav-link">Новый документ</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/change/" class="nav-link">Изменение документов</a>
                    </div>
                    <div class="nav-btn"> 
                        <a href="/help/" class="nav-link">Помощь</a>
                    </div>
                </nav>
            </div>
        </div>
        <div style="width: 550px;"></div>
        
        <div class="right-window">
            <div class="new_doc_title right-container">
               <p>НОВЫЙ ДОКУМЕНТ</p>
            </div>

            <form method="post" enctype="multipart/form-data" style="align-self: center;">
                {% csrf_token %}
                <div class="right-container name-file-div">
                    <div class="name_offile_create">Отображаемое имя файла:</div>
                    <div class="file_name_create">
                        <input
                            required
                            name="name"
                            type="text"
                            placeholder='      Название документа'
                            class="input-name-file input"
                        />
                    </div>
                </div>
                <div class="right-container name-file-div">
                    <div class="name_offile_create">Загрузить файл:</div>
                    <div class="file_name_create">
                        <input required type="file" name="inputfile" accept=".pdf" class="input" style="color: #000000;
                        font-size: 20px;
                        align-self: center;
                        font-family: Montserrat;
                        background-color: #C3C3C3;
                        margin-top: 2rem">
                    </div>
                </div>
                <div class="right-container name-file-div">
                    <div class="name_offile_create">Тип документа:</div>
                    <div class="file_name_create">
                        <select name="type" required size="3" font-size="22px" class="select-file-create">
                            <option value="o" selected="">Приказ</option>
                            <option value="r">Служебная записка</option>
                            <option value="i">Инструкция</option>
                        </select>
                    </div>
                </div>
                <div class="send_file">
                    <button type="submit">
                        Загрузить
                    </button>          
                </div>
            </form>
        </div>
    </body>
</html>