{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>СПРАВКА</title>
        <meta property="og:title" content="Webbed Luminous Jaguar" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <meta property="twitter:card" content="summary_large_image" />
        <link rel="stylesheet" href="{% static 'main/css/new_style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Condensed:wght@500&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    </head>
    <body style="display: flex;">
        <div>
            <div class="left-window">
                <nav class="left-window-nav">
                    <div class="nav-btn nav-profile">
                        <div>
                            <a href="/user/" class="nav-link-profile">
                             {{ request.user.username }}
                            </a>
                        </div>
                    </div>
                    <img src="{% static 'main/images/logo.png' %}" alt="logo" class="logo-left-window" width="200px" height="200px">
                    <div class="nav-btn ">
                        <a href="/orders/" class="nav-link">Приказы</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/reports/" class="nav-link">Служебные записки</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/informing/" class="nav-link">Инструкция</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/new/" class="nav-link">Новый документ</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/change/" class="nav-link">Изменение документов</a>
                    </div>
                    <div class="nav-btn active-link-nav"> 
                        <a href="/help/" class="nav-link">Помощь</a>
                    </div>
                </nav>
            </div>
        </div>
        <div style="width: 550px;"></div>
        
        <div class="right-window">
            <div class="new_doc_title right-container" style="width: 1185px; margin-top: 30px">
               <p>СПРАВКА</p>
            </div>
            <div class="right-container" style="width: 1185px; margin-top: 50px">
                <div style="padding: 30px;">
                    <p class="help-text">Сервис «UniDoc» предназначен для загрузки, хранения и предоставления документов  по
                        модели low-watermark и разработан в качестве курсового проекта. <br><br>
                        
                        Модель low-watermark предполагает назначение каждому пользователю определенного уровня.
                        Доступ на запись допускается только к объектам уровня, равному уровню пользователя либо уровня выше, доступ на чтение допус-
                        кается только к объектам уровня ниже. Так пользователь с 2 уровнем может читать
                        файлы уровней 2, 3 и создавать файлы для всех высших уровней. Таким образом,
                        сервисе «UniDoc» пользователь может загружать файлы для пользователей с уровнем доступа, равным вашему и выше,
                        а читать только файлы с уровнем равным или ниже своего. <br><br>
                        
                        Вкладка «Приказы» предназначена для получения приказов. <br>
                        Вкладка «Служебные записки» предназначена для получения докладов. <br>
                        Вкладка «Инструкциии» предназначена для получения документов инструкций. <br>
                        Вкладка «Новый документ» необходима для загрузки документов всех форм. <br> <br>
                        Вкладка "Изменить" позволяет изменить сброшенный ранее документ
                        Для удаления раннее загруженных документов необходимо нажать на иконку пользова-
                        теля в нижнем левом углу экрана и нажать на соответствующий элемент в списке</p>
                </div>
            </div>
        </div>
    </body>
</html>