{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Вход в систему</title>
        <meta property="og:title" content="Webbed Luminous Jaguar" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <meta property="twitter:card" content="summary_large_image" />
        <link rel="stylesheet" href="{% static 'main/css/new_style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Condensed:wght@500&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="background-login">
            <div class="login-container">
                <div class="img-login">
                    <img src="{% static 'main/images/logo.png' %}" alt="image" width="300px" height="300px">
                </div>
                <form class="login-form" method="post">
                    <p class="login-text">Авторизация</p>
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" value="submit" class="login-button">ВОЙТИ</button>
                </form>
            </div>
        </div>
    </body>
</html>
