{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Приказы</title>
        <meta property="og:title" content="Webbed Luminous Jaguar" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <meta property="twitter:card" content="summary_large_image" />
        <link rel="stylesheet" href="{% static 'main/css/new_style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Condensed:wght@500&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    </head>
    <body style="display: flex;">
        <div>
            <div class="left-window">
                <nav class="left-window-nav">
                    
                    <div class="nav-btn nav-profile">
                        <div>
                            <a href="/user/" class="nav-link-profile">
                            {{ request.user.username }}
                            </a>
                        </div>
                    </div>
                    <img src="{% static 'main/images/logo.png' %}" alt="logo" class="logo-left-window" width="200px" height="200px">
                    <div class="nav-btn active-link-nav">
                        <a href="/orders/" class="nav-link">Приказы</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/service_notes/" class="nav-link">Служебные записки</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/instructions/" class="nav-link">Инструкции</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/new/" class="nav-link">Новый документ</a>
                    </div>
                    <div class="nav-btn">
                        <a href="/change/" class="nav-link">Изменение документов</a>
                    </div>
                    <div class="nav-btn"> 
                        <a href="/help/" class="nav-link">Помощь</a>
                    </div>
                </nav>
            </div>
        </div>
        <div style="width: 550px;"></div>
        
        <div class="right-window">
            <div class="new_doc_title right-container">
               <p>Приказы</p>
            </div>
            <div class="right-container doklad-titles">
                <div class="code-col col-doklad">ID</div>
                <div class="name-col col-doklad">Название</div>
                <div class="date-col col-doklad">Дата</div>
                <div class="send-col col-doklad">Автор</div>
            </div>
            {% for document in Documents %}
                <div class="right-container doklad-titles">
                    <a href="{{ document.file_link.url }}" class="link-doklad">
                        <div class="code-col col-doklad">{{ document.id }}</div>
                        <div class="name-col col-doklad">{{ document.name }}</div>
                        <div class="date-col col-doklad">{{ document.time_create | date:"d.m.Y" }}</div>
                        <div class="send-col col-doklad">{{ document.uid.username }}</div>
                        <form method="post" action="{% url 'document_reset' document.id %}">
                            {% csrf_token %}
                            <div class="btn-col"><button type="submit" action="" class="reset-btn">Сбросить</button></div>
                        </form>
                    </a>
                </div>
             {% endfor %}
        </div>
    </body>
</html>