.thetalogin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetalogin-container1 {
  flex: 1;
  width: 100%;
  height: 754px;
  display: flex;
  z-index: 100;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("../images/theta_background-1500w.jpg");
  background-position: center;
}
.thetalogin-form {
  flex: 1;
  width: 1607px;
  height: 50%;
  display: flex;
  opacity: 0.95;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.thetalogin-container2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.thetalogin-container3 {
  flex: 0 0 auto;
  width: 886px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thetalogin-container4 {
  flex: 0 0 auto;
  width: 184px;
  height: 391px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.thetalogin-image {
  width: 155px;
  height: 304px;
  object-fit: cover;
}
.thetalogin-container5 {
  flex: 0 0 auto;
  width: 526px;
  height: 413px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.thetalogin-text {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: capitalize;
}
.thetalogin-id {
  width: 456px;
  height: 49px;
  font-size: 18px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-family: Montserrat;
}
.thetalogin-password {
  width: 456px;
  height: 49px;
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
  font-family: Montserrat;
}
.thetalogin-log-in {
  width: 454px;
  height: 47px;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  border-width: 0px;
  background-color: #ffffff;
}
.thetalogin-text1 {
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}
