.thetacreate-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetacreate-container01 {
  width: 392px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thetacreate-sidebar {
  top: 0px;
  width: 394px;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 1000;
  position: fixed;
  align-self: flex-start;
  align-items: stretch;
  border-color: #ffffff;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
.thetacreate-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thetacreate-image {
  width: 83px;
  height: 166px;
  align-self: center;
  margin-top: 44px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 42px;
}
.thetacreate-prikazy {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetacreate-text {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetacreate-doklady {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetacreate-text01 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetacreate-inform {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetacreate-text02 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetacreate-create {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
  background-color: #1c1c1c;
}
.thetacreate-text03 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetacreate-help {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetacreate-text04 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetacreate-container02 {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  justify-content: flex-start;
}
.thetacreate-container03 {
  flex: 0 0 auto;
  width: 58px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thetacreate-image1 {
  width: 42px;
  height: 44px;
  object-fit: cover;
}
.thetacreate-container04 {
  width: 355px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.thetacreate-text05 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Montserrat;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.thetacreate-container05 {
  flex: 1;
  width: 100%;
  height: 897px;
  display: flex;
  opacity: 0.95;
  position: relative;
  margin-top: 53px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 57px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("../images/backgroung_black-1500w.jpg");
  background-repeat: repeat;
  background-position: center;
}
.thetacreate-container05:active {
  width: 1379px;
}
.thetacreate-container06 {
  width: 100%;
  height: 190px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: 0px;
  justify-content: center;
}
.thetacreate-container07 {
  flex: 0 0 auto;
  width: 1179px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetacreate-text06 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  align-self: center;
  font-family: Courier New;
  font-weight: 700;
}
.thetacreate-container08 {
  width: 100%;
  height: 92px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
}
.thetacreate-container09 {
  flex: 0 0 auto;
  width: 667px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetacreate-text07 {
  color: rgb(255, 255, 255);
  font-size: 26px;
  align-self: center;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 0px;
}
.thetacreate-container10 {
  flex: 0 0 auto;
  width: 531px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
}
.thetacreate-textinput {
  width: 351px;
  height: 55px;
  font-size: 20px;
}
.thetacreate-container11 {
  width: 100%;
  height: 92px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
}
.thetacreate-container12 {
  flex: 0 0 auto;
  width: 667px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetacreate-text08 {
  color: rgb(255, 255, 255);
  font-size: 26px;
  align-self: center;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 0px;
}
.thetacreate-container13 {
  flex: 0 0 auto;
  width: 531px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetacreate-button {
  color: #000000;
  width: 198px;
  height: 54px;
  font-size: 20px;
  align-self: center;
  font-family: Montserrat;
  background-color: #ffffff;
}
.thetacreate-container14 {
  width: 100%;
  height: 86px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
}
.thetacreate-container15 {
  flex: 0 0 auto;
  width: 667px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetacreate-text09 {
  color: rgb(255, 255, 255);
  font-size: 26px;
  align-self: center;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 0px;
}
.thetacreate-container16 {
  flex: 0 0 auto;
  width: 531px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetacreate-select {
  width: 291px;
}
.thetacreate-container17 {
  width: 100%;
  height: 104px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
}
.thetacreate-container18 {
  flex: 0 0 auto;
  width: 1190px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetacreate-button1 {
  top: 0px;
  left: 0px;
  color: #000000;
  right: 0px;
  width: 344px;
  bottom: 0px;
  height: 58px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  align-self: center;
  text-align: center;
  font-family: Montserrat;
  background-color: #ffffff;
}
@media(max-width: 767px) {
  .thetacreate-sidebar {
    height: 70vh;
  }
}
