.thetahelp-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetahelp-container01 {
  width: 392px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thetahelp-sidebar {
  top: 0px;
  width: 394px;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 1000;
  position: fixed;
  align-self: flex-start;
  align-items: stretch;
  border-color: #ffffff;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
.thetahelp-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thetahelp-image {
  width: 83px;
  height: 166px;
  align-self: center;
  margin-top: 44px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 42px;
}
.thetahelp-prikazy {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetahelp-text {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetahelp-doklady {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetahelp-text01 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetahelp-inform {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetahelp-text02 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetahelp-create {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetahelp-text03 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetahelp-help {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
  background-color: #1c1c1c;
}
.thetahelp-text04 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetahelp-container02 {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  justify-content: flex-start;
}
.thetahelp-container03 {
  flex: 0 0 auto;
  width: 58px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thetahelp-image1 {
  width: 42px;
  height: 44px;
  object-fit: cover;
}
.thetahelp-container04 {
  width: 355px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.thetahelp-text05 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Montserrat;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.thetahelp-container05 {
  flex: 1;
  width: 100%;
  height: 897px;
  display: flex;
  opacity: 0.95;
  position: relative;
  margin-top: 53px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 57px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("../images/backgroung_black-1500w.jpg");
  background-repeat: repeat;
  background-position: center;
}
.thetahelp-container05:active {
  width: 1379px;
}
.thetahelp-container06 {
  width: 100%;
  height: 190px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: 0px;
  justify-content: center;
}
.thetahelp-container07 {
  flex: 0 0 auto;
  width: 1179px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetahelp-text06 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  align-self: center;
  font-family: Courier New;
  font-weight: 700;
}
.thetahelp-container08 {
  width: 100%;
  height: 627px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
}
.thetahelp-container09 {
  flex: 0 0 auto;
  width: 1185px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetahelp-text07 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-align: justify;
  font-family: Montserrat;
}
@media(max-width: 767px) {
  .thetahelp-sidebar {
    height: 70vh;
  }
}
