.thetauser-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetauser-container01 {
  width: 392px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thetauser-sidebar {
  top: 0px;
  width: 394px;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 1000;
  position: fixed;
  align-self: flex-start;
  align-items: stretch;
  border-color: #ffffff;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
.thetauser-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thetauser-image {
  width: 83px;
  height: 166px;
  align-self: center;
  margin-top: 44px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 42px;
}
.thetauser-prikazy {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetauser-text {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetauser-doklady {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetauser-text01 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetauser-inform {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetauser-text02 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetauser-create {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetauser-text03 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetauser-help {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetauser-text04 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetauser-container02 {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  justify-content: flex-start;
}
.thetauser-container03 {
  flex: 0 0 auto;
  width: 58px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
}
.thetauser-image1 {
  width: 42px;
  height: 44px;
  object-fit: cover;
}
.thetauser-container04 {
  width: 355px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1c1c1c;
}
.thetauser-text05 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Montserrat;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.thetauser-container05 {
  flex: 1;
  width: 100%;
  height: 897px;
  display: flex;
  opacity: 0.95;
  position: relative;
  margin-top: 53px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 57px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("../images/backgroung_black-1500w.jpg");
  background-repeat: repeat;
  background-position: center;
}
.thetauser-container05:active {
  width: 1379px;
}
.thetauser-container06 {
  width: 100%;
  height: 190px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: 0px;
  justify-content: center;
}
.thetauser-container07 {
  flex: 0 0 auto;
  width: 1179px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetauser-container08 {
  width: 200px;
  height: 194px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thetauser-image2 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.thetauser-container09 {
  width: 781px;
  height: 186px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.thetauser-text06 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-style: normal;
  font-family: Courier New;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.thetauser-container10 {
  width: 222px;
  height: 186px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.thetauser-text07 {
  color: rgb(255, 255, 255);
  font-size: 120px;
  font-style: normal;
  font-family: Courier New;
  font-weight: 700;
}
.thetauser-container11 {
  width: 1179px;
  height: 81px;
  display: flex;
  opacity: 0.8;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetauser-text08 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  align-self: center;
  font-family: Montserrat;
  font-weight: 700;
}
.thetauser-container12 {
  width: 100%;
  height: 61px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
}
.thetauser-container13 {
  flex: 0 0 auto;
  width: 131px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetauser-text09 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  align-self: center;
  font-family: Montserrat;
  font-weight: 700;
  margin-left: 0px;
}
.thetauser-container14 {
  flex: 0 0 auto;
  width: 648px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetauser-text12 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  align-self: center;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
}
.thetauser-container15 {
  flex: 0 0 auto;
  width: 208px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetauser-text13 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Montserrat;
}
.thetauser-text14 {
  font-weight: 700;
}
.thetauser-container16 {
  flex: 0 0 auto;
  width: 195px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetauser-text16 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
}
.thetauser-container17 {
  width: 100%;
  height: 61px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
}
.thetauser-container18 {
  flex: 0 0 auto;
  width: 131px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetauser-text17 {
  color: rgb(255, 255, 255);
  font-size: 26px;
  align-self: center;
  font-family: Montserrat;
  margin-left: 0px;
}
.thetauser-container19 {
  flex: 0 0 auto;
  width: 648px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetauser-text20 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  align-self: center;
  text-align: left;
  font-family: Montserrat;
  margin-left: var(--dl-space-space-unit);
}
.thetauser-container20 {
  flex: 0 0 auto;
  width: 208px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetauser-text21 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Montserrat;
}
.thetauser-container21 {
  flex: 0 0 auto;
  width: 195px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetauser-button {
  color: #000000;
  width: 179px;
  height: 51px;
  font-size: 22px;
  font-family: Montserrat;
  background-color: #ffffff;
}
@media(max-width: 767px) {
  .thetauser-sidebar {
    height: 70vh;
  }
}
