.thetaprikazy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetaprikazy-container01 {
  width: 392px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thetaprikazy-sidebar {
  top: 0px;
  width: 394px;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 1000;
  position: fixed;
  align-self: flex-start;
  align-items: stretch;
  border-color: #ffffff;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
.thetaprikazy-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thetaprikazy-image {
  width: 83px;
  height: 166px;
  align-self: center;
  margin-top: 44px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 42px;
}
.thetaprikazy-prikazy {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
  background-color: #1c1c1c;
}
.thetaprikazy-text {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetaprikazy-doklady {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetaprikazy-text01 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetaprikazy-inform {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetaprikazy-text02 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetaprikazy-create {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetaprikazy-text03 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetaprikazy-help {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.thetaprikazy-text04 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Montserrat;
  padding-left: 0px;
  margin-bottom: 0px;
}
.thetaprikazy-container02 {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  justify-content: flex-start;
}
.thetaprikazy-container03 {
  flex: 0 0 auto;
  width: 58px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thetaprikazy-image1 {
  width: 42px;
  height: 44px;
  object-fit: cover;
}
.thetaprikazy-container04 {
  width: 355px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.thetaprikazy-text05 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Montserrat;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.thetaprikazy-container05 {
  flex: 1;
  width: 100%;
  height: 897px;
  display: flex;
  opacity: 0.95;
  position: relative;
  margin-top: 53px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 57px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("../images/backgroung_black-1500w.jpg");
  background-repeat: repeat;
  background-position: center;
}
.thetaprikazy-container05:active {
  width: 1379px;
}
.thetaprikazy-container06 {
  width: 100%;
  height: 190px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: 0px;
  justify-content: center;
}
.thetaprikazy-container07 {
  flex: 0 0 auto;
  width: 1179px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetaprikazy-text06 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  align-self: center;
  font-family: Courier New;
  font-weight: 700;
}
.thetaprikazy-container08 {
  width: 100%;
  height: 61px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
}
.thetaprikazy-container09 {
  flex: 0 0 auto;
  width: 131px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetaprikazy-text07 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  align-self: center;
  font-family: Montserrat;
  font-weight: 700;
  margin-left: 0px;
}
.thetaprikazy-container10 {
  flex: 0 0 auto;
  width: 648px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetaprikazy-text10 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  align-self: center;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
}
.thetaprikazy-container11 {
  flex: 0 0 auto;
  width: 208px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetaprikazy-text11 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Montserrat;
}
.thetaprikazy-text12 {
  font-weight: 700;
}
.thetaprikazy-container12 {
  flex: 0 0 auto;
  width: 195px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetaprikazy-text14 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
}
.thetaprikazy-container13 {
  width: 100%;
  height: 61px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
}
.thetaprikazy-container14 {
  flex: 0 0 auto;
  width: 131px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetaprikazy-text15 {
  color: rgb(255, 255, 255);
  font-size: 26px;
  align-self: center;
  font-family: Montserrat;
  margin-left: 0px;
}
.thetaprikazy-container15 {
  flex: 0 0 auto;
  width: 648px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.thetaprikazy-text18 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  align-self: center;
  text-align: left;
  font-family: Montserrat;
  margin-left: var(--dl-space-space-unit);
}
.thetaprikazy-container16 {
  flex: 0 0 auto;
  width: 208px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetaprikazy-text19 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Montserrat;
}
.thetaprikazy-container17 {
  flex: 0 0 auto;
  width: 195px;
  height: 100%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.thetaprikazy-text20 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Montserrat;
}
@media(max-width: 767px) {
  .thetaprikazy-sidebar {
    height: 70vh;
  }
}
